@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold text-4xl sm:text-5xl;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-2xl sm:text-3xl md:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-blue-900 to-indigo-500 text-white;
  }
}

@layer utilities {
  .bg-primary-gradient {
    @apply bg-gradient-to-r from-blue-900 to-indigo-500;
  }
  .text-gradient {
    @apply bg-gradient-to-r from-blue-900 to-indigo-500 bg-clip-text text-transparent;
  }
}
